{% extends 'login.twig' %}

{% block content %}
<div class="jpage-login">

    <div class="jpage-login__logo">
        Sign Up
    </div>
    <div class="jpage-login__form ui segment">
        <form class="ui form">
            <div class="field">
                <label>User name</label>
                <input type="text" name="username" placeholder="Your user name ...">
            </div>
            <div class="field">
                <label>Email</label>
                <input type="text" name="email" placeholder="Your email ...">
            </div>
            <div class="field">
                <label>Phone</label>
                <input type="text" name="phone" placeholder="Your phone ...">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="text" name="password" placeholder="Your password ...">
            </div>
            <div class="field">
                <label>Repeat password</label>
                <input type="text" name="password-repeat" placeholder="Repeat password ...">
            </div>
            <button class="ui primary fluid button" type="submit" style="margin-bottom: 15px;">
                Registration
            </button>
            <a href="{{ base_url() }}/signin" class="ui fluid button">Back</a>
        </form>
    </div>

</div>
{% endblock %}