{% extends 'login.twig' %}

{% block content %}
<div class="jpage-login" id="js-sign-up">

    <div class="jpage-login__logo">
        Sign Up
    </div>
    <div class="jpage-login__form ui segment">
        <form class="ui form">
            <div class="field">
                <div style="position: relative; width: 100%;">
                <label for="file" style="width: 100%;">
                    <button class="ui button" style="width: 100%;">
                        <i class="upload icon"></i>
                        Upload Avatar
                    </button>
                </label>
                <input id="js-upload-file" type="file" style="background-color: red; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;" />
            </div>
            </div>
            <div class="field">
                <label>User name</label>
                <input type="text" name="username" placeholder="Your user name ..." value="">
                <div class="ui pointing red label hidden">
                    Username is compulsory field for fill!
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input type="text" name="email" placeholder="Your email ..." value="">
                <div class="ui pointing red label hidden">
                    Email is wrong!
                </div>
            </div>
            <div class="field">
                <label>Phone</label>
                <input type="text" name="phone" placeholder="Your phone ..." value="">
                <div class="ui pointing red label hidden">
                    Phone is wrong!
                </div>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Your password ..." value="">
                <div class="ui pointing red label hidden">
                    Password is wrong! Must be not least 8 letter!
                </div>
            </div>
            <div class="field">
                <label>Repeat password</label>
                <input type="password" name="password-repeat" placeholder="Repeat password ..." value="">
                <div class="ui pointing red label hidden">
                    Password-repeat must be match password (above)!
                </div>
            </div>
            <div class="field">
                <button class="ui primary fluid button" type="submit" style="margin-bottom: 15px;">
                    Registration
                </button>
                <a href="{{ base_url() }}/signin" class="ui fluid button">Back</a>
            </div>
        </form>
        <div class="ui dimmer" id="js-message-success">
            <div class="content">
                <h2 class="ui inverted icon header">
                    <i class="thumbs up outline green icon"></i>
                    <div class="jcolor-green">
                        Success
                        <div class="sub header">
                            You was registered!
                        </div>
                    </div>
                </h2>
            </div>
        </div>
        <div class="ui dimmer" id="js-message-errors">
            <div class="content">
                <h2 class="ui inverted icon header">
                    <i class="thumbs down outline red icon"></i>
                    <div class="jcolor-red">
                        Error
                        <div class="sub header left aligned"></div>
                    </div>
                </h2>
            </div>
        </div>
    </div>
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Profile Picture
        </div>
        <div class="image content">
            <img src id="js-cropper-image" class="ui image" />
        </div>
        <div class="actions">
            <button class="ui black deny button" id="js-cropper-cancel">
                Cancel
            </button>
            <button class="ui positive right labeled icon button" id="js-cropper-save">
                Save
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>

</div>
{% endblock %}