<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    {% block content %}{% endblock %}

    <script src="js/lib.js"></script>
    <script src="js/app.js"></script>
</body>
</html>